h3{
    font-size: 25px;

}
.btn-success:hover{
    background-color: rgb(90, 39, 141);
}
canvas{
    animation-name: example ;
animation-duration: 4s;
animation-iteration-count: infinite;

}

@keyframes example{
    from{box-shadow: 1px 1px 38px rgb(90, 131, 218);}
    from{box-shadow:#4ddd71 2px 2px 38px ;}
}

